body {
  font-family: system-ui;
  background: #f2f2f7;
  margin: 0;
}

.app {
  max-width: 420px;
  margin: auto;
  background: white;
  min-height: 100vh;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #007aff;
  color: white;
  border: none;
}

.secondary {
  background: #555;
  color: white;
}

li {
  background: #eee;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}

.actions button {
  width: 30%;
  margin-top: 5px;
  margin-right: 2%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007aff;
  color: white;
}

td {
  background: #f9f9f9;
}

.hidden {
  display: none;
}